@model Assignment1.Models.LinkModel
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@section navBar{
    <!DOCTYPE HTML>

    <html lang="en">

    <head>
        <link rel="stylesheet" href="~/DefaultStyles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
        <title>Create a Link</title>
    </head>
}
@section body{
    <body>
        <div>
            <b>Create a Link:</b>
        </div>
        <form class="form-group" method="post" asp-action="Insert" asp-controller="Link">
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(m => m.linkName)
                @Html.EditorFor(m => m.linkName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.linkName)
            </div>

            <div>
                @Html.LabelFor(m => m.linkAddress)
                @Html.EditorFor(m => m.linkAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.linkAddress)
            </div>

            <div>
                @Html.LabelFor(m => m.pLevel)
                @Html.EditorFor(m => m.pLevel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.pLevel)
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </body>
}
